</nav>
</div>
<script>
  function openSidebar(){ document.querySelector('.sidebar').classList.toggle("-translate-x-full")}
  // function toggleActive(status){
  //   const toRead = document.querySelector('#to-read');
  //   const read = document.querySelector('#read');
  //   const reading = document.querySelector('#reading');
    
  //   if (status === 'to read') {
  //     toRead.classList.add('active:bg-yellow-200');
  //     read.classList.remove('active');
  //     reading.classList.remove('active');
  //   }
  //   }
</script>
</body>