<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>myLib</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
</html>
<nav>
  <ul>
    <div class="nav__main">
      <a href="/books"><li>✨ MyLib</li></a>
    </div>
    <div class="nav__reading">
      <a href="/"><li>🔦 Search</li></a>
      <a href="/books/to-read"><li>📕 To Read</li></a>
      <a href="/books/reading"><li>👀 Reading</li></a>
      <a href="/books/read"><li>📚 Read</li></a>
    </div>
  </ul>
</nav>
<body></body>
