<!-- search.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>myLib</title>
  </head>
  <body>
    <h1>Add books</h1>
    <div id="book-search">
      Books
      <ul class="books">
        <% for(var i = 0; i < books.length; i++) {%>
        <li class="books">
          <!-- Output name from the iterated book -->

          <div id="<%" ="books[i].id" %>></div>
          <a href="/books/<%= books[i].id %>">
            <span> <%= books[i].items.volumeInfo.title %></span>:</a
          >
          <span> <%= books[i].volumeInfo.author %></span>
          <span> <%= books[i].volumeInfo.description %></span>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
